body {
    /* Sötétített raktáros háttérkép */
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.85)),
                url('https://images.unsplash.com/photo-1553413077-190dd305871c?q=80&w=1935&auto=format&fit=crop');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    background-color: #2a2a2a;
}
th {
    background-color: #333;
    color: #fff;
}
td {
    vertical-align: middle;
}
.form-check-input {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
input {
    background-color: #2a2a2a !important;
    color: #fff !important;
    border: 1px solid #fff !important;
}
input::placeholder {
    color: #c5c5c5 !important;
}
label {
    margin-top: 10px;
    color: #ffffff;
}
.custom-box {
    background: linear-gradient(10deg, #000000, #3a3a3a);
    padding: 30px;
    border-radius: 12px;
    margin: 40px auto;
    width: 100%;
    max-width: 550px;
    box-shadow: 0 0 20px #000;
}
.btn-dark {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: transparent; /* Átlátszó háttér */
    color: #fff;
    ;/* Fehér keret */
    font-family: monospace;   /* Írógép stílusú betű (opcionális) */
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-dark:hover {
    background-color: #868686;   /* Fehér lesz a háttér */
    color: #000;              /* Fekete lesz a szöveg */
    box-shadow: 0 0 10px #fff; 
    border: 1px solid #fff !important /* Fehér ragyogás körülötte */
}
input.form-control {
    transition: all 0.25s ease;
    background-color: #2a2a2a !important;
    border: 1px solid #555 !important;
    color: #fff !important;
}
input.form-control:focus {
    background-color: #333 !important;
    border-color: #ffffff !important;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    transform: scale(1.02);
}


